.banner {
  width: 100%;
  height: 250px;

  background-image: url("../images/greenapplebanner.png");
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.banner-logo {
  height: 80px;
  width: auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 150px;
  }
}

.food-image{
  width: 100%;
}

